{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 text-center" style="max-width:30rem;">
    <h2 class="mb-3 border-bottom" style="padding: 10px;">Add Inventorty</h2>
    <form method="post" action="/add">
        <!-- Item Name input -->
        <div class="form-outline mb-4">
          <input type="text" class="form-control" name="name"/>
          <label class="form-label">Item Name</label>
        </div>
      
        <!-- Quantity input -->
        <div class="form-outline mb-4">
          <input type="number" class="form-control" name="quantity"/>
          <label class="form-label" >Quantity</label>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      </form>
</div>
{% endblock body %}